h1 {
	
	font-size: 40px;
	text-align: center;
	margin:0 auto;
	position: inline;
	margin-top: -12px;
}

#loginform {
	width: 300px;
	margin: 0 auto;
	display: block;
	margin-top: 80px;
	
}
input [type=submit] {
	text-align: center;
}

.beta {
	position: inline;
	margin: 0 auto;
	text-align: center;
	margin-left: 160px;
	padding-top:40px;
}

body {

	background-repeat: no-repeat;
	background-size: cover;
}

h4 {
	text-align: center;
}